body {
    background: #ffffff;
    font-family: sans-serif;
    color: #000000;
    display: grid;
    place-items: center;
    }
    main {
    width: 500px;
    height: 380px;
    background: #00781e;
    padding: 5px;
    text-align: center;
    }
    button {
    background: #ff0015;
    padding: 8px 20px;
    margin: 90px;
    rotate: 6deg;
    transition: all 0.3s;
    }
    .happy {
    color: #000000;
    border-color: lightpink;
    border-radius: 3px;
    margin-top: 10px;
    }
    input {
    margin: 30px;
    }
    
    div {
    padding: 15px;
    margin: 10px;
    background: #1900ff;
    display: grid;
    place-items: center;
    }
    img:hover {
    rotate: 25deg;
    }
    
    main:hover button {
    rotate: -10deg;
    }