body {
    background: #9D8189;
    font-family: sans-serif;
    color: #9D8189;
    display: grid;
    place-items: center;
}

main {
    width: 35vw;
    background: #F4ACB7;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

button {
    background: #D8E2DC;
    padding: 8px 20px;
    margin: 20px;
    transform: rotate(-5deg);
    transition: all 0.3s;
}

.happy {
    color: #9D8189;
    border-color: #9D8189;
    border-radius: 3px;
    margin-top: 10px;
}

.clickcount {
    padding: 5px;
    background: #FFCAD4;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    margin: 10px;
}

.image {
    padding: 15px;
    background: #FFCAD4;
    border-radius: 25px;
    display: grid;
    place-items: center;
    padding: 50px;
}


@keyframes pop {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(0.8) rotate(-180deg);
    }
    100%{
        transform: scale(1.2) rotate(360deg);
    }
}

img:hover {
    animation: pop 1s forwards;
}

main:hover button {
    transform: rotate(5deg);
}

@keyframes pop {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(0.8) rotate(-180deg);
    }
    100%{
        transform: scale(1.2) rotate(360deg);
    }
}
